<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Needed for bootstrap - add these line for detecting device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "Wikirestaurants", restaurants_path, class: "navbar-brand" %>
      <%= link_to "Chinese", chinese_restaurants_path, class: "nav-link" %>
      <%= link_to "French", french_restaurants_path, class: "nav-link" %>
      <%= link_to "Belgian", belgian_restaurants_path, class: "nav-link" %>
      <%= link_to "Japanese", japanese_restaurants_path, class: "nav-link" %>
      <%= link_to "Italian", italian_restaurants_path, class: "nav-link" %>
      <%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-outline-success my-2 my-sm-0" %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
